@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
   height: 100vh;
   width: 100%;
   background: white;
    
}
.navegation {
    font-weight: 700;
}

#login-bg {
    background-image: url(../img/clasico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}




.navbar {
    background: rgb(7, 42, 117);
    height: 40px;
}

.form-box-user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100vw;
    
}

.form-create-user {
    background: rgba(51, 51, 160, 0.836);
    padding: 40px;
    text-align: center ;
    width: 400px;
    
}

.form-box-user1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
    
}

.form-create-user1 {
    background: rgba(7, 42, 117);
    padding: 1.5rem;
    margin-top: 6rem;
    text-align: center ;
    
}





.search_prod {
    display: flex;
}

.usuarioedit {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    position: absolute;
    margin-top: -45px;
}

.edit {
    margin-top: 55px;
    margin-bottom: 0px;
    position: relative;
}



.table {
    margin-top: 50px;
}

.nav-link {
    color: white;
}




.titulo-productos {   
    color: rgb(7, 42, 117) ;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.imagen-modal {
width: 100%;
height: 100vh;

}

.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
}


.login-form {
    background-color: rgba(22, 50, 95, 0.6);
}

.login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
}

.login-form-font-header {
    font-size: 30px;
    font-weight: bold;
}

.login-form-font-header span {
    color: #007C9B;
}

.login-form-font-header {
    color: black;
}




#agregar-producto {
    height: 100vh;
    width: 100%;
    margin-top: 40px;
    background-image: url(../img/clasico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#crearusuario {
    background-image: url(../img/apple.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.search {
    margin-top: 90px;
}

table {
    margin-top: 100px;
}

.img-fondo {
    margin-top: 35px;
    margin-left: 8px;
}

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.card {
    width: 580px;
    height: auto;
    margin: 100px 380px;
}

#imagen-detalles {
    margin-top: -30px;
}

.resultadocero {
    margin: 50px 450px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    height: 431px;
    width: 200px;
    text-align: center;
    margin: 10px; 
    margin-bottom: 20px;
      transition: background-color .8s;
}

.titulo-producto {
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
}

.producto:hover {
    background-color:rgba(7, 42, 117);
    color: white;
border-radius: 8px;
cursor: pointer;
}

