@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
}

header {
    font-weight: 100;
    background: rgb(7, 42, 117);
}

.navbar {
    background: rgb(7, 42, 117);
    height: 40px;
}

.form-box-user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.form-create-user {
    background: rgba(51, 51, 160, 0.836);
    padding: 1.5rem;
    margin-top: 9rem;
    text-align: center ;
    
}

.box_user_search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
    
}

.search_prod {
    display: flex;
}

.usuarioedit {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    position: absolute;
    margin-top: -45px;
}

.edit {
    margin-top: 55px;
    margin-bottom: 0px;
}


.nav-link {
    color: white;
}




.titulo-productos {
   font-size: 80px;
   font-weight: bold;
    color: rgb(7, 42, 117) ;
    margin: 2rem;
}

.imagen-modal {
width: 100%;
height: 100vh;

}

.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
}


.login-form {
    background-color: rgba(22, 50, 95, 0.6);
}

.login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
}

.login-form-font-header {
    font-size: 30px;
    font-weight: bold;
}

.login-form-font-header span {
    color: #007C9B;
}

.login-form-font-header {
    color: black;
}


#login {
    background-image: url(../img/clasico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#agregar-producto {
    height: 100vh;
    width: 100%;
    margin-top: 40px;
    background-image: url(../img/clasico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#crearusuario {
    background-image: url(../img/apple.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.search {
    margin-top: 90px;
}

table {
    margin-top: 100px;
}

.img-fondo {
    margin-top: 35px;
    margin-left: 8px;
}

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.card {
    width: 580px;
    height: auto;
    margin: 100px 380px;
}

#imagen-detalles {
    margin-top: -30px;
}

.resultadocero {
    margin: 50px 450px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    
}

.producto {
    justify-content: center;
    text-align: center;
}
